# ignore all folders/files by default
# Examples:
# **/*

# allow-list directories (allow the directory and its contents)
# Examples:
# !application_code/**
# !container_database_deployment/deployment_scripts/**
# !SQL/**

# explicitly re-ignore sensitive files that might be inside allowed folders
# Examples:
# SQL/backups/**